<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forum Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="topnav">
          <a class="float-left" href="/">Forum</a>
            <a class="active" href="/signin">Login</a>
            <a href="/signup">Register</a>
        </div> 
      </header>
      <main>
        {{ if . }}
        <div class="error-wrapper">
            <span >{{ . }}</span>
        </div>
        {{end}}
        <div class="register-form">
          <span class="form-title">Login</span>
          <form action="/signin" method="POST">
            <input class="input-field" type="email" id="email" name="email" placeholder="Your e-mail" required /><br>
            <input class="input-field" type="password" id="password" name="password" placeholder="Your password" required /><br>
            <input type="submit" value="Login" class="register-btn" />
            <div class="suggestion-link-wrapper">
              <a href="/signup">Not registered?</a>
            </div>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
